body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    border: 3px solid black;
    margin: 20px 0;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.cell:nth-child(9n) {
    border-right: none;
}

.row:nth-child(3n) .cell {
    border-bottom: 2px solid black;
}

.row:nth-child(9) .cell {
    border-bottom: none;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 1em;
}

.given-number {
    background-color: #eee;
}

#solve-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}